---
title: Ruby on Rails Wizardry
---

<%= image_tag 'cowboy_wizard_riding_engine.png' %>

<h1> Ruby on Rails Wizardry </h1>

<p>
For Ruby on Rails enthusiasts. Learn from a 40+ year senior developer, 15+ years in Rails. Join to master Rails, share tips, and innovate!
</p>


<nav>
  <a href="http://skool.com/ruby-on-rails-wizardry-5122" target="_blank">Skool</a>
  <a href="https://github.com/Science-of-Math" target="_blank">GitHub</a>
</nav>

